@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbit&display=swap');
body{
  background-color: black;
  color: rgb(255, 245, 215);
  font-family: 'Orbit', sans-serif;
  padding: 10px 70px 50px 70px;
}
a:link{
  color: rgb(195, 225, 255);
  text-decoration-line: none;
}
a:visited{
  color: rgb(195, 225, 255);
}
a:hover{
  color: rgb(248, 220, 9);
}
a:active{
  color: rgb(195, 225, 255);
}
mark{
  font-family: 'Source Code Pro', monospace;
  color: rgb(255, 212, 217);
  background-color: black;
}
em{
  color: rgb(223, 255, 0);
}
