@import url('https://fonts.googleapis.com/css2?family=Orbit&display=swap');
body{
  text-align : justify;
  background-color: black;
  color: rgb(205, 225, 245);
  font-family: 'Orbit', sans-serif;
  padding: 10px 70px 50px 70px;
}
a:link{
  color: rgb(255, 240, 215);
  text-decoration-line: none;
}
a:visited{
  color: rgb(255, 240, 215);
}
a:hover{
  color: rgb(255, 240, 215);
}
a:active{
  color: rgb(255, 240, 215);
}
